00_finalResult-checkpoint.ipynb
01_firstAnalysisOfTheData-checkpoint.ipynb
regression_example_kaggle_allstate.ipynb
sample_submission.csv
test.csv
train.csv
regression_example_kaggle_allstate-checkpoint.ipynb
ue1/__pycache__
sample_submission.csv.zip
submission.csv
test.csv.zip
train.csv.zip
ue1/images
